<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<style>

SELECT, INPUT[type="text"] {
    width: 160px;
    box-sizing: border-box;
}
SECTION {
    padding: 8px;
    background-color: #f0f0f0;
    overflow: auto;
}
SECTION > DIV {
    float: left;
    padding: 4px;
}
SECTION > DIV + DIV {
    width: 40px;
    text-align: center;
}
</style>
<body>
<!--<p id="workflowId" th:text="*{workflowById.getId()}"></p>-->
<input type="hidden"  id="workflowId" th:value="*{workflowById.id}" >

<form id="myForm" th:method="POST" th:action="@{'/workflow/' + ${workflowById.getId()}}" th:object="${workflow}"  enctype="multipart/form-data">
            <input   type="text" th:name="name" th:value="${#object.name}"></br>
    <div class="error" th:if="${blank} != null" ><span style="color:#A30014" th:text="${blank}"></span></div>

            <input  type="text" th:name="description" th:value="${#object.description}"></br>
    <div class="error" th:if="${blankDescription} != null" ><span style="color:#A30014" th:text="${blankDescription}"></span></div>

             <input  type="file" th:name="uploadFile" id="uploadFile" th:value="${#object.uploadFile}"></br>
    <table id="customerTable" class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <table id="workflowCustomers" class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
            <button type="submit" class="button-save" id="submit"><b>Save</b></button>

</form>
<script>
   function loadCustomers() {

    $.ajax({
        url: '/customers',
        type: 'GET',
        success: function (data) {
            var $customerTable = $('#customerTable tbody');
            $customerTable.empty(); // Clear existing rows
            $.each(data, function (index, customer) {
                var row = '<tr>' +
                    '<td>' + customer.id + '</td>' +
                    '<td>' + customer.name + '</td>' +
                    '<td>' + customer.email + '</td>' +
                    '<td>' +
                     '<button type="button" class="btn btn-primary add-customer-btn" data-id="' + customer.id + '">Add Customer</button>' +
                    '</td>' +
                    '</tr>';
                $customerTable.append(row);
            });
            // Unbind the click event before binding it again
            $('.add-customer-btn').off('click').on('click', function() {
                var customerId = $(this).data('id');
                addCustomer(customerId);
            });
        },
        error: function () {
        }
    });
}

function addCustomer(customerId) {
    var id = $('#workflowId').val();

    $.ajax({
        url:'/workflows/' +id+ '/addCustomer?customerId=' + customerId,
        type: 'POST',
        contentType: 'application/json',
        dataType: 'json',
        success: function (customer) {
            // Handle success
        },
        error: function () {
            loadCustomers();
            loadWorkflowCustomers();
        }
    });
}

$(document).ready(function () {
    loadCustomers();
    loadWorkflowCustomers();
});

function loadWorkflowCustomers() {
    var id = $('#workflowId').val();
    $.ajax({
        url: '/workflows/'+id,
        type: 'GET',
        success: function (data) {
            var $workflowCustomersTable = $('#workflowCustomers tbody');
            $workflowCustomersTable.empty(); // Clear existing rows
            $.each(data, function (index, customer) {
                var row = '<tr>' +
                    '<td>' + customer.id + '</td>' +
                    '<td>' + customer.name + '</td>' +
                    '<td>' + customer.email + '</td>' +
                    '<td>' +
                     '<button type="button" class="btn btn-primary add-customers-btn" data-id="' + customer.id + '">Add Customer</button>' +
                    '</td>' +
                    '</tr>';
                $workflowCustomersTable.append(row);
            });
            // Unbind the click event before binding it again
            $('.add-customers-btn').off('click').on('click', function() {
                var customerId = $(this).data('id');
                addCustomer(customerId);
            });
        },
        error: function () {
        }
    });
}
</script>

</body>
</html>